

.product-card {
	display: flex;
	flex-direction: column;
	gap: 2%;
	max-width: 25%;
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	gap: 5%;
}

.card-left,
.card-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 5px;
}

.card-right{
	align-items: flex-end;
}

.card-left{
	font-size: 0.8vw;
	flex-grow: 1;
	white-space: nowrap;
	max-width: 40%;
}

.card-right > p {
	font-size: 0.8vw;
}

.product-img {
	max-width: 100%;
	width: 100%;
}

.product-counter {
	width: 35%;
	height: 50%;
	max-height: 50%;
	text-align: center;
	align-self: flex-end;
	font-size: .6vw;
}

.add-to-bag-img {
	width: 23%;
}

.stars-container{
	display: flex;
	justify-content: flex-end;
}

.star {
	width: 10%;
}

.spinner-add {
	display: flex;
	justify-content: flex-end;
}
