.checkout-container-section {
	width: 75%;
	display: flex;
}

.checkout-total-section {
	background-color: #d9d9d9;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.checkout-total-values-section {
	display: flex;
	gap: 20px;
}

.checkout-button {
	width: 75%;
	align-self: center;
	border: none;
	border-radius: 8px;
	background-color: #077512;
}
